<ul class="nav navbar-nav navbar-left">
    <li ng-repeat="user in navigation">
        <a href="#" ng-click="">
            {{ user.ig_user }}
        </a>
        <ul class="nav navbar-nav navbar-left">
            <li ng-repeat="element in user.years_months">
                <a href="#" ng-click="">
                    {{ element.year }}
                </a>
                <ul class="nav navbar-nav navbar-left">
                    <li ng-repeat="month in element.months">
                        <a href="#{{ user.ig_user + '-' + month + '-' + element.year }}" ng-click="sendDataFromNavigationController(user.ig_user + '-' + month + '-' + element.year)">
                            {{ month | monthName }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
