<table class="table">
    <caption class="text-left">
        <h1>Statistics: {{ data.ig_user }}</h1></caption>
    <tr class="table-header">
        <th>
            <a href="" ng-click="order('timestamp')" ng-class="{reverse:reverse}">Date</a>
        </th>
        <th class="number">
            <a href="" ng-click="order('followers')" ng-class="{reverse:reverse}">Followers</a>
        </th>
        <th class="number">
            <a href="" ng-click="order('followings')" ng-class="{reverse:reverse}">Followings</a>
        </th>
        <th class="number">
            <a href="" ng-click="order('growth')" ng-class="{reverse:reverse}">Growth</a>
        </th>
    </tr>
    <tr class="data-row" ng-class-even="'even'" ng-repeat="row in data.ig_user_statistics">
        <td>
            {{ row.timestamp | date: 'EEE, dd.MM.yyyy' }}
        </td>
        <td class="number">
            {{ row.followers | number }}
        </td>
        <td class="number">
            {{ row.followings | number }}
        </td>
        <td class="number">
            {{ row.growth }}
        </td>
    </tr>
</table>