<!DOCTYPE html>
<html>

<head>
    <title>Instagram Statistics</title>
    <link href="../node_modules/angular-material/angular-material.cssangular-material.css" type="text/css" />
    <script src="js/bundle.js"></script>
</head>

<body ng-app="inSta" layout="column" ng-controller="UserController as ul">
    <md-toolbar layout="row" layout-align="center center" class="md-whiteframe-z1">
        <span>{{ ul.appName }}</span>
    </md-toolbar>
    
    <div class="container" layout="row" flex>
        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')"
                    md-component-id="left"
                    ng-click="ul.toggleList()"
                    class="md-whiteframe-z2">
            <md-list>
                <md-list-item ng-repeat="it in ul.navigation">
                    <md-button ng-click="ul.selectUser(it.ig_user)"
                               ng-class="{ 'selected': it.ig_user === selected }"
                               aria-label="Select {{ it.ig_user }}">
                        {{ it.ig_user }}
                    </md-button>
                </md-list-item>
            </md-list>
            <navigation-bar></navigation-bar>
        </md-sidenav>
        
        <md-content flex>
            <h2>{{ ul. selected }}</h2>
            
            
            <statistics-table></statistics-table>
        </md-content>
    </div>
</body>

</html>