<!DOCTYPE html>
<html>
    
<head>
    <title>Instagram Statistics</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="js/bundle.js"></script>
</head>
    
<body ng-app="inSta" layout="row" ng-controller="UserController as ul">
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" 
                md-component-id="left" 
                ng-click="ul.toggleList()" 
                class="md-whiteframe-z2 site-sidenav">
        <md-sidemenu locked="true">
            <md-sidemenu-group>
                <md-subheader class="md-no-sticky">USERS</md-subheader>
                <md-sidemenu-content ng-repeat="it in ul.navigation" 
                                     ng-click="ul.selectUser(it.ig_user)" 
                                     aria-label="Select {{ it.ig_user }}" 
                                     md-heading="{{ it.ig_user | capitalize }}" 
                                     md-arrow="true">
                    <span ng-repeat="element in it.years_months">
                        <md-button ng-repeat="month in element.months"
                                   ng-click="ul.queryUserData(it.ig_user + '-' + month + '-' + element.year)"
                                   ng-class="{ 'active': ul.selectedNavItem === it.ig_user + '-' + month + '-' + element.year}">
                            {{ month | monthName }}{{ ' ' + element.year }}
                        </md-button>
                    </span>
                </md-sidemenu-content>
                <md-divider></md-divider>
            </md-sidemenu-group>
        </md-sidemenu>
    </md-sidenav>
    
    <div layout="column" flex>
        <md-toolbar layout-align="left center" 
                    class="md-whiteframe-z1 md-toolbar-tools">
            <md-button hide-gt-sm 
                       ng-click="ul.toggleMenu()"
                       aria-label="Menu"
                       class="md-icon-button">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <span>{{ ul.appName }}</span>
        </md-toolbar>
        
        <md-content flex>
            <div class="inset"></div>
            <div layout="row" layout-align="center center">
                <md-card flex="90">
                    <md-card-content>
                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="ul.tableOrder">
                                    <tr md-row>
                                        <th md-column md-order-by="date"><span>Date</span></th>
                                        <th md-column md-order-by="followers" md-numeric>Followers</th>
                                        <th md-column md-order-by="followings" md-numeric>Followings</th>
                                        <th md-column md-order-by="growth" md-numeric>Growth</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row
                                        ng-repeat="row in ul.userData[0].ig_user_statistics | orderBy: ul.tableOrder">
                                        <td md-cell>{{ row.date | date: 'EEE, dd.MM.yyyy' }}</td>
                                        <td md-cell>{{ row.followers | number }}</td>
                                        <td md-cell>{{ row.followings | number }}</td>
                                        <td md-cell>{{ row.growth }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </div>
</body>
    
</html>